
.display{
    border:1px solid black;
    width:808px;
    position:relative;
    margin-left:300px;
    margin-top:50px;
    height:100px;
    background: black;
    border-radius: 10px;
}
.keys{
    border:1px solid;
    width:808px;
    position:absolute;
    margin-left:300px;
    margin-top:0px;
    height:500px;
    background: rgba(231, 196, 196,0.9);
    font-size:3em;
    border-radius: 10px;
}
table{
    width:808px;
    position:absolute;
    height:500px;
    border-collapse:collapse;
    text-align:center;
}
tr,td{
    border: 2px solid white;
    border-collapse: collapse;
    width: 198px;
}
#mera_video{
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
}